.parent {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
}

h1 {
	color: #ffffff;
	text-align: left;
	font-family: 'Open Sans', sans-serif;
	font-size: 55px;
	position: relative;
	z-index: 0;
}

body {
	color: #ffffff;
	text-align: left;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	position: relative;
	z-index: 0;
	/*perspective: 100;*/
}

.one {
 	transform: scale(1.08);
	filter: blur(0px);
	z-index: -1;
}

.two {
 	transform: scale(1.07);
	filter: blur(1px);
	z-index: -2;
}

.three {
 	transform: scale(1.06);
	filter: blur(2px);
	z-index: -3;
}

.four {
 	transform: scale(1.05);
	filter: blur(3px);
	z-index: -4;
}

.five {
 	transform: scale(1.04);
	filter: blur(4px);
	z-index: -5;
}

.six {
 	transform: scale(1.03);
	filter: blur(5px);
	z-index: -6;
}

.seven {
 	transform: scale(1.02);
	filter: blur(6px);
	z-index: -7;
}

.eight {
 	transform: scale(1.01);
	filter: blur(7px);
	z-index: -8;
}

.back {
	transform: scale(1);
 	filter: blur(8px);
 	z-index: -9;
}
.background{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-size: cover!important;
	transition: all 1s;
}

body[data-slide="2"] .one{
	opacity: 0;
	pointer-events: none;
	transition: all 1s;
 	transform: scale(3);
	filter: blur(20px);
}

body[data-slide="3"] .two{
	opacity: 0;
	pointer-events: none;
	transition: all 1s;
 	transform: scale(3);
	filter: blur(20px);
}










